@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<!DOCTYPE html>
<html>


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width = device-width" />
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/site.css">


</head>
<body>
    <form class="form-horizontal">
        <div class="form-group">
            <label for="inputEmail" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-6">
                <input type="email" class="form-control" id="inputEmail" placeholder="Email">
            </div>
        </div>

        <div class="form-group">
            <label for="inputPassword" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-6">
                <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
            </div>
        </div>
    </form>

    <div>
        @RenderBody()
    </div>
</body>
    

</html>

<!-- Doing a bit of trial and error has given me a bit more insight into how the .Net Core 2.2 and Entity Framework execute their code.
    The way the framework works is that you require a HomeController.cs and a Home folder in Views that contains a file called Index.cshtml. 
    The problem with doing with something like this is that the head needs to loaded multiple times if you are handling multiple pages. 
    Creating a _ViewStart.cshtml and _Layout.cshtml will allow a to create a default screen be created, which will simply execute the code 
    such that it'll auto fire the _ViewStart.cshtml -> _Layout.cshtml first before executing the HomeController.cs. It'll then execute the
    autorouting of the HomeController to the Index.cshtml file located in the Views -> Home folder, executing any addtional code. Any code
    that is in HomeController is to control the actions in the Index.cshtml file.
    -->